#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: clamp(24px, 12vw, 100px); /* масштабируемый, но с границами */
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-family: monospace, system-ui, sans-serif;*/
}


